In [14]:
from hurricane_app import download_hurricane_data,process_hurricane_data
from hurdat2parser import Hurdat2

In [12]:
df = process_hurricane_data(download_hurricane_data())

In [15]:
data_file = "hurdat2-1851-2024-040425.txt"
parser = Hurdat2(data_file)

In [21]:
parser

In [13]:
df[df["year"] == 2024]

,storm_id,name,date,time,status,latitude,longitude,wind_speed,year
54747,AL011851,UNNAMED,20240617,1800,DB,19.9,-92.7,35,2024
54748,AL011851,UNNAMED,20240618,0000,DB,20.4,-92.7,35,2024
54749,AL011851,UNNAMED,20240618,0600,DB,20.9,-92.7,35,2024
54750,AL011851,UNNAMED,20240618,1200,DB,21.5,-92.6,35,2024
54751,AL011851,UNNAMED,20240618,1800,DB,22.0,-92.6,35,2024
...,...,...,...,...,...,...,...,...,...
55225,AL011851,UNNAMED,20241117,0600,TS,16.5,-87.5,35,2024
55226,AL011851,UNNAMED,20241117,1200,TS,16.8,-87.9,35,2024
55227,AL011851,UNNAMED,20241117,1400,TS,17.0,-88.3,35,2024
55228,AL011851,UNNAMED,20241117,1800,TD,17.4,-89.1,30,2024
55229,AL011851,UNNAMED,20241118,0000,TD,17.9,-90.2,25,2024